@import 'style';

html {
  background-color: #df4847;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.correct {
  position: absolute;
  background-color: #2ad197;
  opacity: .7;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-container {
  background-color: #0aacb9;
  width: 100vw;
  height: 15vh;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-holder {
  margin-top: 2rem;
  width: 90vw;
  height: 90vw;
}

#canvas {
  width: 100%;
  height: 100%;
}

.buttons-holder {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.button-container {
  width: 42vw;
  height: 8vh;
  border-radius: 2rem;
}

.button-container__clear {
  background-color: white;
}

.button {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  background-color: white;
  border-radius: 0;
}

.information-text {
  font-size: 3.6rem;
  color: white;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  position: relative;
}

.correct-content {
  content: url('../assets/images/checkmark.svg');
  width: 15rem;
  height: 15rem;
  animation: scale-up-center .8s cubic-bezier(.39, .57, .56, 1) both;
}

.correct-text {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  font-family: Roboto, sans-serif;
  padding: 2rem;
}

@keyframes scale-up-center {

  0% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }
}

@media (orientation: landscape) {

  .message-container {
    width: 80vw;
    height: 20vh;
  }

  .canvas-holder {
    margin-top: 2rem;
    width: 80vw;
    height: 50vh;
  }

  .refresh-button-container {
    height: 10vh;
    width: 60vw;
    margin-top: 1.5rem;
  }

  .refresh-button {
    font-size: 2.2rem;
    font-weight: 700;
  }

}

@media (width >= 750px) {

  .refresh-button-container {
    width: 40vw;
    margin-top: 4rem;
  }

}
