@import 'style';

.start-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: absolute;
  /* background-color: black;
  opacity: .4; */
}

.start-screen__container {
  background-color: #d8d8d8;
  width: 96rem;
  height: 70rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-title {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  margin-top: 3rem;
}

.explainer {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin-top: 3rem;
}

.explainer__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
}

.explainer__text {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  line-height: 120%;
}

.qrcode{
  width: 20rem;
  height: 20rem;
  margin-top: 3.5rem;
}

.qrcode img {
  width: 100%;
  height: 100%;
}

.wishlist {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
}

.wishlist-container {
  width: 22rem;
  height: 10rem;
  margin-top: 1.5rem;
  background-color: white;
  border-radius: 2rem;
  text-align: center;
  display: none;
}

.show {
  animation: slide-bottom .5s cubic-bezier(.25, .46, .45, .94) both;
  display: block;
}

@keyframes slide-bottom {

  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(.3rem);
  }
}

.wish {
  font-size: 2rem;
  margin-top: 2.2rem;
  font-family: Roboto, sans-serif;
}

.name {
  font-size: 2rem;
  margin-top: 1.5rem;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}
